@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    box-sizing: border-box;
    font-family: "Balsamiq Sans", serif;
}

body{
    min-height: 90vh;
    background: url("back.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 236px 600px;
    display: flex;
    justify-content: center;
    background-attachment: fixed;
    overflow-y: scroll;
}

.card-body{
    min-height: 37vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    width: 95%;
}
.card-body a{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    color: #fff !important;
    text-decoration: none;
    font-weight: 600;
    -webkit-text-stroke: 0.2px black;
}
.card-body a:hover{
    text-decoration: underline;
}

input[type=text],
textarea {
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 16px;
}

.card-body .titl{
    border: 2px solid #333;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    font-size: 16px;
    height: 5vh;
    resize: none;
}

.card-body .button {
    border: 2px solid #333;
    background-color: #FAFAFA;
    color: #333;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.card-body .descript {
    height: 125px; 
    margin-top: 3%;
    margin-bottom: 3%;
    resize: none;
}
.card-body .descript::placeholder{
    position: absolute;
    top: 10%;
}

.delete-body{
    min-height: 30vh;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid rgb(255, 255, 255, .2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: #fff;
    padding: 25px 20px;
    border-radius: 10px;
}
.delete-body p{
    position: absolute;
    top: -6px;
}
.delete-body a{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 28px;
    color: #fff !important;
    text-decoration: none;
    font-weight: 600;
    -webkit-text-stroke: 0.2px black;
}
.delete-body .button{
    border: 2px solid #333;
    background-color: #FAFAFA;
    color: #333;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    width: 150px;
}