{% load users_extras %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main/main_style.css' %}" />
</head>
<body>
    <div class="header-bar">
        <div>
            <h1>Привет, {{ request.user|title }}</h1>
            <h3 style="margin: 0">У вас есть <i>{{ count }}</i> {{ count|default:0|ru_plural:"незавершенная,незавершенные,незавершенных" }} {{ count|default:0|ru_plural:"задача,задачи,задач" }}</h3>
        </div>
        <a href="{% url 'lists' %}" style="position: absolute; right:5.5%;">Списки задач</a>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a href="{% url 'login' %}">Войти</a>
        {% endif %}
    </div>
    <h1>Задачи в категории: {{ category.name }}</h1>
    <ul class="task-wrapper">
        {% for category in categories %}
            <li>
                <strong>{{ task.title }}</strong>: {{ task.description }}
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'lists' %}">Назад к категориям</a>
</body>
</html>