{% extends 'main/base.html' %}
{% block content %}

<div class="header-bar">
    <h1>Регистрация</h1>
</div>

<div class="card-body">
    <form method="POST">
        {{form.as_p}}
        <div class="input-block">
            <label for="login">Логин</label>
            <p>
            <input id="login" type="text" name="login">
        </div>
        <p>
        <div class="input-block">
            <label for="password">Пароль</label>
            <p>
            <input id="password" type="password" name="password">
        </div>
        <p>
        <div class="input-block">
            <label for="password">Пароль</label>
            <p>
            <input id="password" type="password" name="password2">
        </div>

        {% csrf_token %}

        <p>
        <button class="button">Зарегестрироваться</button>
    </form>
    <a>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></a>
</div>

{% endblock content %}